@use "style";

.Bio {
  display: flex;
  flex-direction: row;
  p {
    margin-bottom: style.$space1;
  }

  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &_avatar {
    border-radius: style.$borderRadius;
    margin: 0;
    margin-right: style.$space2;
  }

  &_author {
    text-align: center;
    margin-bottom: style.$space1;

    text-align: left;
  }
}
