@use "style";

.Bio {
  display: flex;
  flex-direction: column;

  @media (max-width: style.$break-medium) {
    flex-direction: row;
  }

  &_avatar {
    margin-right: style.$space2;
    margin-bottom: style.$space2;
    min-width: 50px;
    border-radius: style.$borderRadius;
  }
}
