@use "style/variables.scss" as variables;

.RepositoryCard {
  display: flex;
  flex-direction: column;
  gap: variables.$space2;
  align-items: start;
  border: 1px solid black;
  background-color: variables.$tertiary;
  border-radius: variables.$borderRadius;
  padding: variables.$space2;
  text-align: left;

  &_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: variables.$space1;
    justify-content: space-between;
    width: 100%;
  }

  &_language {
    margin-left: auto;
    justify-self: right;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: aquamarine;
    font-size: 0.7em;
    text-transform: uppercase;
  }

  &_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  &_icon {
    height: 1.1rem;
    min-width: 1.1rem;
    margin-top: 0.3rem;
    margin-bottom: auto;
  }

  &_description {
    font-size: 0.9rem;
    margin: 0;
  }
}
