@use "style";

.BlogPost {
  display: flex;
  gap: style.$space2;
  flex-direction: column;

  &_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &_headerImage {
    img {
      border-bottom-left-radius: style.$borderRadius;
      border-bottom-right-radius: style.$borderRadius;
    }
  }

  &_content {
    > *:first-child {
      margin-top: 0;
    }

    iframe[src*="youtube"] {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_footer {
    text-align: center;
    padding-bottom: 0;
  }
}
