@use "style";

.Layout {
  &_main {
    margin: 0 auto;
    padding: 0 style.$sitePadding;
    max-width: style.$siteWidth;

    @include style.small {
      padding: 0 style.$sitePaddingSmall;
    }
  }
}
