@use "style";

.PostPreview {
  margin-bottom: style.$space5;
  margin-top: style.$space5;

  p {
    margin-bottom: 0;
  }

  header {
    margin-bottom: style.$space1;
  }

  &_title {
    margin: 0;
  }
}
