@use "style";

.Card {
  border: 1px solid style.$primary;
  padding: style.$space2;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  background-color: style.$tertiary;

  &:hover {
    box-shadow: 6px 6px 4px 0 rgb(0 0 0 / 20%);
    transform: translateY(-3px);
  }
}
