@use "style";

.Index {
  display: flex;
  flex-direction: row;
  gap: style.$space4;
  max-width: style.$siteWidth;
  margin: 0 auto;
  width: 100%;

  &_main {
    display: flex;
    flex-direction: row;
    gap: style.$space4;

    @include style.medium {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  &_postPreview {
    flex: 2;
  }

  &_bio {
    margin-top: style.$space4;
    flex: 1;
    min-width: 250px;
  }
}
