@use "style";

$gap: style.$space2;

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: style.$space4 0;

  &_left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &_logo {
    margin-right: $gap;

    img {
      border-radius: 0.5rem;
    }
  }

  &_nav {
    display: flex;
    gap: $gap;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: $gap;
    font-size: 2.5rem;
  }
}

.NavLink {
  &___active {
    color: red;
  }
}

.SocialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(46, 46, 46);
  height: 50px;
}
