@use "style";

$gap: style.$space2;

.Header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: style.$space4 0;
  background-color: white;
  z-index: 1;

  &_left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &_logo {
    margin-right: $gap;

    img {
      border-radius: 0.5rem;
    }
  }

  &_nav {
    display: flex;
    gap: $gap;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: $gap;
    font-size: 2.5rem;
  }
}

.NavLink {
  &___active {
    color: red;
  }
}
