@use "style";

$gap: style.$space2;

.Header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: style.$space2 0;
  background-color: style.$secondary;
  z-index: 1;
  border-bottom: 1px solid style.$primary;

  &_container {
    display: flex;
    max-width: style.$siteWidth;
    padding: 0 style.$sitePadding;
    margin: 0 auto;
    width: 100%;
  }

  &_left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &_logo {
    margin-right: $gap;

    img {
      border-radius: style.$borderRadius;
    }

    @media (max-width: style.$break-medium) {
      display: none;
    }
  }

  &_nav {
    display: flex;
    gap: $gap;
    font-size: 1.2rem;
  }

  &_right {
    display: flex;
    align-items: center;
    gap: $gap;
    font-size: 2rem;

    @media (max-width: style.$break-small) {
      font-size: 1.5rem;
    }
  }
}

.NavLink {
  height: 100%;
  text-decoration: none;

  &:hover {
    color: style.$primary;
  }

  &___active {
    color: style.$primary;
    border-bottom: 2px solid style.$primary;
  }
}
