@use "style";

.Footer {
  width: 100%;
  font-size: 1.6rem;
  margin-top: style.$space6;
  background-color: style.$secondary;

  text-align: center;

  &_headline {
    margin-bottom: 1em;
  }

  &_buttons {
    display: flex;
    justify-content: center;
    gap: style.$space2;
    align-items: center;

    a {
      background-color: style.$textPrimary;
      color: white;
      height: 1.8em;
      width: 1.8em;
      border-radius: 50%;

      &:hover {
        background-color: white;
        color: style.$textPrimary;
      }
    }
  }
}
