@use "style";

.PaginatedIndex {
  display: flex;
  flex-direction: column;
  gap: style.$space4;
  max-width: style.$siteWidth;
  margin: 0 auto;
  width: 100%;

  &_postPreview {
    margin-top: style.$space4;
  }

  .Bio {
    margin-bottom: style.$space4;
  }
}
